.btn {
    display: inline-block;
    font-family: $ff-title;
    text-transform: uppercase;
    padding: .25em 1em;
    text-decoration: none;
    margin: .5em 0;
    border-radius: .5em;

    &--light {
        background: $clr-brown-light;
        color: $clr-blue-dark;

        &:hover {
            opacity: .8;
        }
    }

    &--dark {
        background: $clr-blue-dark;
        color: white;
    }

    &--outline {
        border: 2px solid currentColor;
        color: $clr-blue-dark;
    }
}